@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Noto serif";
}
.search-results-shower {
  background-color: #08335c;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #4a5568; /* Change this color */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #e2e8f0; /* Change this color */
}
